body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    text-align: center;
    padding-top: 50px;
}

.container {
    background: white;
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #2c3e50;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}